.merryweather .navbar {
    box-shadow: 0 0 10px -5px #000000;
}

.form-group {
    margin-bottom: 1rem;
}

.dist-add {
    text-shadow: 0 0 3px #000;
}

.navbar i.fa {
    margin-right: 4px;
}

.navbar i.fa-user-gear {
    color: #8B0000FF;
}

.log-table .col1 {
    width: 8em;
}

.log-table .col2 {
    width: 11em;
    white-space: nowrap;
}

.dropdown-lang-item {
    width: 100%;
    clear: both;
    font-weight: 400;
    color: var(--bs-dropdown-link-color);
    text-align: inherit;
    text-decoration: none;
    margin-right: 1em;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
    border-radius: var(--bs-dropdown-item-border-radius, 0);
}
.dropdown-lang-item:hover, .dropdown-item:focus {
    color: var(--bs-dropdown-link-active-bg);
    background-color: var(--bs-dropdown-link-hover-bg);
}
