<form action="{{ linkUrl }}" method="POST">
    <div class="form-widget col-md-3">
        <div class="datetime-widget datetime-widget-time form-group">
            <label for="starttime">Anfang</label>
            <input type="time" id="starttime" name="starttime" class="form-control">
        </div>
    </div>
    <div class="form-widget col-md-3">
        <div class="datetime-widget datetime-widget-time form-group">
            <label for="endtime">Ende</label>
            <input type="time" id="endtime" name="endtime" class="form-control">
        </div>
    </div>
    <div class="form-widget col-md-3">
        <div class="form-group">
            <label for="slotsize">Slot größe (Minuten)</label>
            <input type="number" id="slotsize" name="slotsize" class="form-control">
        </div>
    </div>
    <div class="form-widget col-md-3">
        <button class="btn btn-primary" type="submit">
            <span class="btn-label"><span class="action-label">Erstellen</span></span>
        </button>
    </div>
</form>
