<div class="row mb-3">
    <a class="col-md-2 btn btn-danger" href="{{ cancelUrl }}"><i class="fa fa-trash-can"></i> {{ 'cancel'|trans }}</a> <span class="col">{{ slot.startAt|date('H:i') }}: {{ slot.user.displayName }}</span>
</div>
