<div class="form-check form-switch">
    <input type="checkbox" class="form-check-input" {{ value?'checked':'' }} id="cfg_{{ name }}" name="cfg[{{ name }}]"
           autocomplete="off">
    <label class="form-check-label" for="cfg_{{ name }}"></label>
</div>
