<nav class="navbar sticky-top navbar-expand-md bg-body" aria-label="hauptmenü">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">
            <img src="/img/logo.png" alt="MerryWeather" width="30" height="24">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample04" aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        {% set currentPath = path(app.request.attributes.get('_route'),
            app.request.attributes.get('_route_params')) %}
        <div class="collapse navbar-collapse" id="navbarsExample04">
            <ul class="navbar-nav me-auto mb-2 mb-md-0">
                <li class="nav-item">
                    <a class="nav-link {% if currentPath == '/' %}active{% endif %}" href="/">Verteilung</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if currentPath == '/profile' %}active{% endif %}" href="#/profile">Profil</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/logout">Ausloggen</a>
                </li>

            </ul>
        </div>
    </div>
</nav>
